<div class="menu">
  <div class="menu-content">
    <a href="{{ site.github.url }}/whataboutme.html">O mnie</a>
    <a href="{{ site.github.url }}/mutator.html">Mutator</a>
    <a href="{{ site.github.url }}/weasel.html">Algorytm Łasica</a>
  </div>
  <div class="social-icons">
    <a href="https://www.youtube.com/channel/UCPTT1b4a13kp0hSRevmrSgg"><i class="fa fa-youtube" aria-hidden="true"></i></a>
    <a href="https://twitter.com/{{ site.author.twitter }}"><i class="fa fa-twitter" aria-hidden="true" target="_blank"></i></a>
    <a href="https://www.facebook.com/{{ site.author.facebook }}"><i class="fa fa-facebook" aria-hidden="true" target="_blank"></i></a>
    <a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope" aria-hidden="true" target="_blank"></i></a>
  </div>
</div>
