<button style="background-color:#FFDE00; color:black; border:0px solid black;" id="mutate" value="start">Mutuj</button>
<button style="background-color:#dd4814; color:white; border:0px solid black;" class="redButton noDisplay" id="empty">Wyczyść</button>

<span id="info-text"></span>
<div style="border:1px solid #515151; margin-top:1em;" id="text" contenteditable="true"><br><br><br><br></div>
<p id="mutation-info"></p>

<script src='assets/jquery/jquery-3.0.0.min.js'></script>
<script src='assets/velocity/velocity-master/velocity.min.js'></script>
<script src='assets/velocity/velocity-master/velocity.ui.js'></script>
<script src='assets/blast/blast-master/jquery.blast.js'></script>
<script src="assets/mutator.js"></script>
